name: Test Galah with Setup-Miniconda From Marketplace
on: [push, pull_request]

jobs:
  miniconda:
    name: Miniconda ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
        matrix:
            os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: test
          environment-file: galah.yml
          auto-activate-base: false
          channels: conda-forge,defaults,bioconda
      - run: |
          conda info
          conda list
      - name: Run test
        run: |
            cargo test
